<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title> Add Patients</title>
</head>

<div style="text-align:center; margin-top:200px; font-size: 30px;">
    <body>
    <div class="wrapper-btn">
        <a th:href="@{/patients/{id}(id=${hospitalId})}">
            <button class="btn btn-primary" type="button"><~~</button>
        </a>
    </div>
    <form th:action="@{/patients/savePatients/{hospitalId}(hospitalId=${hospitalId})}"
          th:object="${newPatient}"
          th:method="POST">

        <div>
            <div>
                <input th:field="*{firstName}" type="text"  placeholder=" first name"  >
                <p style="color: red"  th:if="${#fields.hasErrors('firstName')}" th:errors="*{firstName}"></p>
            </div>
            <div>
                <input th:field="*{lastName}" type="text"  placeholder=" last name"  >
                <p style="color: red"  th:if="${#fields.hasErrors('lastName')}" th:errors="*{lastName}"></p>
            </div>
            <div>
                <input th:field="*{phoneNumber}" type="text"  placeholder="+996 XXX XXX XXX"   pattern="[+0-9]+">
                <p style="color: red"  th:if="${#fields.hasErrors('phoneNumber')}" th:errors="*{phoneNumber}"></p>
            </div>

            <div>
                <input th:field="*{email}" type="email"  placeholder="email "  >
                <p style="color: red"  th:if="${#fields.hasErrors('email')}" th:errors="*{email}"></p>
            </div>
            <div>
                <select th:field="*{gender}" required>
                    <option th:value="${male}">MALE</option>
                    <option th:value="${female}">FEMALE</option>
                </select>
            </div>

        </div>

        <div><FORM>
            <input type="submit" value="add patient"></FORM>
        </div>
    </form>
    </body>

</div>
</html>
