<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Update Department</title>
</head>
<div style="text-align:center; margin-top:200px; font-size: 30px;">

  <body>
  <div class="wrapper-btn">
    <a th:href="@{/departments/{id} (id=${hospitalId})}">
      <button class="btn btn-primary" type="button"><~~</button>
    </a>
  </div>
  <form th:action="@{/departments/updateSaveDepartment/{departmentId}(departmentId=${oldDepartment.id})}"
        th:object="${oldDepartment}"
        th:method="POST">
    <div>
      <label>
        <input th:field="*{name}" placeholder="Department Name" >
        <p style="color: red"  th:if="${#fields.hasErrors('name')}" th:errors="*{name}"></p>

      </label>
    </div>
    <div>
      <input type="submit" value="update">
    </div>
  </form>
  </body>
</div>
</html>
